@import "tailwindcss";

@theme {
  --font-sans:
    "Poppins", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  font-family:
    "Poppins",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}

html,
body {
  background-image: url("/matrix-logo.jpeg");
  background-repeat: repeat;
  background-size: 10%;
  @apply bg-white dark:bg-gray-950;
  height: 100vh;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.glassmorphism-bg {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
